@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

body{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.hero, .info, .quote{
    padding: 50px 250px;
}

.header{
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.links{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: column  ;
    flex: 1;
}

.hero{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}


.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}


.hero-button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: 0px;
    font-weight: 600;
    padding: 10px 30px;
}

.hero-image{
    width: 400px;
    height: 200px;
    margin: 0px;
    padding: 0px;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text{
    font-size: 36px;
    font-weight: 900;
}

.img-box{
    display: flex;
    gap: 15px;
    text-align: center;
    margin-top: 20px;
}

.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box img{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 5px 5px;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
}

.quote-under{
    margin-left: auto;
    font-weight: bold;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-bar{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    width: 1500px;
    justify-content: space-around;
    padding: 20px 15px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.action-button{
    background-color: transparent;
    border-color: #f9faf8;
    border-width: 3px;
    color: #f9faf8;
    border-radius: 5px;
    align-self: center;
    padding: 5px 20px;
    font-weight: 600;
}

.c-to-a{
    font-weight: bold;
}

.footer{
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 5px 0px;
}

.container div p{
    margin-top: 0px;
    margin-bottom: 15px;
}

